/* container*/
.container{
    width:100%;
    border:3px;
    overflow:hidden;
}

/* Header*/
header{
    background: #EB83AF;
    color: white;
    min-height:70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* nav */
.nav{
    display: block;
    width: 100%;
    position: static;
    font-family: 'Montserrat', sans-serif;
    float:left;
}

nav ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EB83AF;
    color: white;
    display: flex;

}
nav li{
    float: left;
    border: 1px solid #FFFFFFFF;
    flex: 1 1 0px;
}
nav li a{
    display: block;
    padding: 8px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}
nav li a.active{
    background-color: #F7A7C9;
    color: #FFFFFF;
}
nav li :last-child{
    border-right: none;
}
nav a:hover{
    background-color:#FFD0E4;
    font-weight: bold;
}


/* footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #EB83AF;
    color: white;
    text-align: left;    
    padding-left: 15px;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 6%; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 10px from the right side of page */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Make sure there are no borders */
    outline: none; /* Make sure there is no outline */
    background-color: #F7A7C9; /* Set the background color */
    color: white; /* Set the text color */
    cursor: pointer; /* Add a "hand" pointer on hover */
    padding: 15px; /* Add padding */
    border-radius: 10px; /* Round the corners */
    font-size: 18px; /* Set font size */
}

#myBtn:hover {
    background-color: #EB83AF; /* Add a dark pink background on hover */
}